table{
    width: 100%;
    border-collapse: collapse;
    height: 300px;
}
td, th{
    border: 2px solid;
}
.em{
    background-color: gray;
}
.av{
    background-color: red;
}
.st{
    background-color: aqua;
}
.es1{
    background-color: red;
}